*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 100px;
    padding: 5%;
}

.search-bar{
    width:100%;
    max-width: 700px;
     background: white; 
    display: flex;
    align-items: center;
    border-radius: 60px  ;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180px);
} 

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0px;
    outline: none;
    padding: 10px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: black;
}

.search-bar button .fa{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height:40px;
    background: #58629b;
    cursor: pointer; 
} 

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block; 
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-left: 16px;
    background: transparent;
    padding: 10px;
    border-radius: none;
} 

nav ul li:hover{ 
    background: blueviolet;
    border-radius: 30px;
} 

.button{
    transform: translateY(-5px);
    padding: 20px;
    border-radius: 30px;
    background: blue;
    color: white;
    transform: translateY(-5px);
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 40px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
     display: inline-block;
    background: blue;
    color:white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: blueviolet;
}

.header{
    background: radial-gradient(#fff,cyan);
} 

.header .row{
    margin-top: 90px;
    padding-right: 90px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    width: 300px;
    margin-bottom: 30px;
    padding: 10px;
    transition: transform 0.5s;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: radial-gradient(#fff,cyan);
    border-radius: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.col-3 img{
    width: 80%;
    height: 200px;
    border-radius: 20px;
}

.feed{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.feed::after{
    content: '';
    background: black;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-3 p{
    font-size: 14px;
    color: #555;
}

.rate .fa{
    color:orange;
}

.col-3:hover{
    transform: translateY(-5px);
}

#get{
    margin-top: 40px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 30px;
}

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 50px;
}

.footer p{
    color:#8a8a8a;
}

.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}

.footer-col-3 ul li{
    margin-bottom: 8px;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

a{
    cursor: pointer;
}